@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    /*height: 201px;*/
    margin-left: 30px;
    margin-right: 30px;
    background-color: black;
    color:white;

}

footer{
    /*height: 201px;*/
    margin-left: 30px;
    margin-right: 30px;
    background-color: black;
    color: white;
}

.header_title {
    list-style: none;
    display:flex;
    padding: 0;
    width: 100%;
}

.header_title a {
    list-style: none;
    text-decoration: none;
    padding: 0;
    color: white;
}

.header_search {
    align-items: center;    
}

.header_search input{
    border: 1px solid whitesmoke;
    border-radius: 0.3em;
    padding: 0.3cm;
    font-size: 1.2em;
}

.header_search button{
    border: 1px solid whitesmoke;
    border-radius: 0.2em;
    padding: 0.1cm;
    font-size: 1.0em;
}

#menu-principal {
    list-style: none;
    padding: 0;
    background-color: black;
}
#menu-principal li{
    display: inline;
}

#menu-principal li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    transition: background .4s;
}

#menu-principal li a:hover{
    background-color: #BD4CF7;
}

#menu-principal li:last-child a{
    float: right;
    background-color: #171445;
}

#menu-principal li:last-child a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    transition: background .4s;
}

#menu-principal li:last-child a:hover{
    background-color: #BD4CF7;
}

#menu-principal li:last-child img{
    float: right;
    align-items: center;
}
