* {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Bebas Neue", sans-serif;
}

header {
  background: #000;
  color: #fff;
  height: 268px;
}

footer {
  background: #000;
  color: #fff;
  height: 268px;
  margin-top: 90px;
}

main .colaboratorleft {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}

main .colaboratorright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}

main h1,
p {
  background: transparent;
  color: #fff;
}

main h1 {
  font-size: 30px;
  font-weight: 600;
}

main p {
  margin-top: 40px;
  font-size: 30px;
  text-align: center;
}

main img {
  width: 256px;
  height: 256px;
  border-radius: 50%;
}

main .photoleft {
  border: 15px solid #bd4cf7;
}

main .descriptionleft {
  display: flex;
  flex-direction: column;
  width: 768px;
  height: 228px;
  background: #bd4cf7;
  border-radius: 40px;
  margin-left: 116px;
  padding: 22px;
  align-items: center;
  justify-content: center;
}

main .photoright {
  border: 15px solid #352052;
}

main .descriptionright {
  display: flex;
  flex-direction: column;
  width: 768px;
  height: 228px;
  background: #352052;
  border-radius: 40px;
  margin-right: 116px;
  padding: 22px;
  align-items: center;
  justify-content: center;
}
