header{
    background-color: black;
    color:white;
}

.header_title {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.header_title_cinemundo {
    font-size: 80px;
    font-weight: 300;
    text-align: center;
}

.header_title a {
    list-style: none;
    text-decoration: none;
    padding: 0;
    color: white;
}

@media (max-width: 952px){
    label.header_title_cinemundo{
        font-size: 70px;
        padding-left: 10px;
    }
}

.header_title_image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    padding-bottom: 1.2%;
}

.checkbtn_header {
    float: left;
    display: none;
}

#check_header {
    display: none;
}

@media (max-width: 920px){
    .checkbtn_header{
        display: block;
    }   
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #080327;
        top: 210px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color:#BD4CF7;
    }
    #check_header:checked ~ ul{
        left: 0;
    }
}

i.material-symbols-outlined {
    font-size: 40px;
    cursor: pointer;
}

i.material-symbols-outlined:hover {
    color: #BD4CF7;
}

.header_main_menu {
    list-style: none;
    font-size: 22px;
    font-weight: 300;
    margin: 0 30px;
    display: flex;
    justify-content:space-between;
}

.header_main_menu_index {
    border-top: 2px solid white;
    display: block;
    align-items: center;
    padding: 5px 40px 5px 40px;
    margin: 0 10px;
}

.header_main_menu li{
    display: inline-block;
}

.header_main_menu li a{
    color: white;
    text-decoration: none;
}

.header_main_menu li a:hover, .header_main_menu li a:active{
    /*background-color: #BD4CF7; */
    background-color: white;
    color: black;
    border-top: 2px solid black;
    transition: .4s;
}

.header_main_menu2 {
    display: flex;
    align-items: center;
}

.header_main_menu2 li svg {
    cursor: pointer;
}

.header_perfil_name {
    font-weight: 100%;
}

.header_perfil_name a {
    padding: 10px 18px;
    margin: 0 18px;
}
