#Quiz-Logo {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

#topo {
  display: flex;
  justify-content: center;  
  gap: 75px;
  padding: 15px;  
}

.titulos {
  letter-spacing: 0.5px;
}

.quiz-imput {
  width: 150px;
  height: 25px;
  font-size: 15px;
  border-color: #171445;
  border-width: 2px;
  border-radius: 5px;
}

#quiz-pesquisar {    
  font-size: large;  
  color: #171445;
}

#quizTitulos {
  display: flex;
  /* width: 80%; */
  justify-content: space-evenly;
  /* background-color: #171445; */
  background-image: linear-gradient(to right,   
  #BD4CF7,
  black, 
  #BD4CF7);
  padding: 10px;
  padding-left: 10%;
  padding-right: 10%;
  gap: 15px;
}

.topico {
  background-color: white;
  color: #551A8B;
  border-radius: 5px;
  padding: 15px;
  width: 175px;
  height: 65px;
  text-decoration: none;
  display: flex;
  align-items: center;    
  justify-content: center;
  font-size: large;
  /* font-size: 30px; */
  padding: 10px;
  /* margin-bottom: 0px; */
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 0.5px;

}

.topico:hover {
  scale: 1.05;
  transition: all 0.2s;    
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  filter: drop-shadow(8px 8px 8px rgba(0,0,0,.9));
}

#main_fake {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

#CardRankings {
  display: flex;  
  justify-content: space-evenly;
  gap: 75px;
  margin-bottom: 30px;    
}

/* #card::before {
  content: "";
  display: block;
  background-image: url(https://hbomax-images.warnermediacdn.com/images/GXdbR_gOXWJuAuwEAACVH/tileburnedin?size=1280x720&partner=hbomaxcom&v=6a409f09891f75549fdb8d07dc969b63&host=art-gallery.api.hbo.com&language=pt-br&w=1280);
  opacity: 0.40;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */

#card {
  /* background-color: #BD4CF7; */
  width: 750px;
  min-width: 350px;
  /* max-width: 700px; */
  height: 525px;
  position: relative;
  left: 0px;
  top: 0px;
  border: 5px solid #171445;
  border-radius: 5px;  
  box-shadow: rgba(0, 0, 0, 0.75) 10px 15px 15px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* cursor: pointer; */
}

.card-background {
  background-image: url(../image/quiz/Background/_painel-02.jpg);
  opacity: 0.4;
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card-background-Duna {
  background-image: url(../image/quiz/Background/Duna-bg.jpg);
}

.card-background-Avatar {
  background-image: url(../image/quiz/Background/Avatar-bg.jpg);
}

.card-background-TheWhale {
  background-image: url(../image/quiz/Background/TheWhale-bg.jpg);
}

.card-background-Dark {
  background-image: url(../image/quiz/Background/Dark-bg.jpg);
}

.card-background-GameOfThrones {
  background-image: url(../image/quiz/Background/GameOfThrones-bg.jpg);
}

.card-background-CentralDoBrasil {
  background-image: url(../image/quiz/Background/CentraDoBrasil-bg.jpg);
}

.card-background-ThisIsUs {
  background-image: url(../image/quiz/Background/ThisIsUs-bg.jpg);
}

.card-background-Friends {
  background-image: url(../image/quiz/Background/Friends-bg.jpeg);
}

.card-background-StrangerThings {
  background-image: url(../image/quiz/Background/StrangerThings-bg.jpg);
}

.card-background-QualFilme {
  background-image: url(../image/quiz/Background/_QualFilme.jpg);
}


#card_logo {
  /* display: block; */
  position: absolute;
  left: 200px;  
  top: 100px;
  border-radius: 12px;
  z-index: 1;
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  filter: drop-shadow(8px 8px 8px rgba(0,0,0,.9));
}

#DoisRankings {
  display: flex;
  gap: 15px;
}

#RankingDiario, #RankingMensal {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 525px;
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
  justify-content: space-evenly;
}

#RankingDiario {
  /* background-color: #171445; */
  background-color: #BD4CF7;
  background-image: linear-gradient(to top,
  #171445,   
  #BD4CF7);
  list-style-type: none;
  /* border-radius: 5px;   */
  border: 3px solid #171445;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.75) 10px 15px 15px;
}

#RankingMensal {
  display: none;
  background-color: #BD4CF7;
}

.jogadoresD, .jogadoresM, .jogador_atual_D {
  position: relative;
  z-index: 1;
  font-size: 15px;
  color: white;
  height: 55px;
  border-radius: 5px;
  justify-content: space-around;
  border: 2px solid #ffffffff;
  background-color: rgba(255, 255, 255, 0.185);
  cursor: pointer;
}

.quiz-posicao-jogador {
  position: absolute;
  font-size: 18px;
  top: 28%;
  left: 5%;
}

.quiz-imagem-jogador {
  position: absolute;
  top: 10%;
  left: 13%;
  width: 40px;
}

.quiz-nome-jogador {
  position: absolute;
  font-size: 18px;
  top: 28%;
  left: 33%;
  letter-spacing: 1.0px;
}

.quiz-pontos-jogador {
  position: absolute;
  font-size: 18px;
  top: 28%;
  right: 5%;
  letter-spacing: 1.0px;
}

.jogadoresDTitulo {
  position: relative;
  font-size: 18px;
  top: 5px;
  left: -60px;
  color: #171445;
  margin-bottom: 5px;
}

.jogadoresM {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.jogadoresD:hover {
  background-color: #BD4CF7;
}

.jogadoresM:hover {
  background-color: #17144565;
}

.jogador_atual_D, .jogador_atual_M {
  color: rgb(255, 255, 255);
  border-radius: 5px;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.185);
}

.jogador_atual_M {
  border: 2px solid #171445be;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.jogador_atual_D:hover {
  background-color: #BD4CF7;
}


.jogador_atual_M:hover {
  background-color: #17144565;
}

.poster:hover {
  scale: 1.04;
  color: white;
  transition: all 0.3s;    
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  filter: drop-shadow(8px 8px 8px rgba(0,0,0,.9));
  cursor: pointer;
}

.filmes_e_series {
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
  margin-top: 60px;
  margin-bottom: 0px;
  gap: 60px;
  height: 300px;  
}

.obras {
  display: flex;
  gap: 15px;
  position: relative;  
}

.tres_obras, #os_mais_jogados, #premiacao_mensal {
  position: absolute;  
  top: -55px;
}

.tres_obras {
  left: 230px;
  letter-spacing: 0.5px;
}

#os_mais_jogados {
  left: 210px;
  letter-spacing: 0.5px;
}

#premiacao_mensal {
  left: 195px;
  letter-spacing: 0.5px;
}

#posicao1, #posicao2, #posicao3 {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 20px;
  top: -15px;
  background: white;
  border: 3px solid #171445;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
  left: -10px;
}

#posicao2 {
  left: 175px;
}

#posicao3 {
  left: 355px;
}

#podio {
  position: relative;  
  display: flex;
  gap: 15px;
}

.premio {
  background-color: #BD4CF7;
  border-radius: 20px;
  width: 168px;
  height: 250px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: -2;
  /* letter-spacing: 0.5px; */
}

.premio_3d {
  position: absolute;
  left: px;
  background-color: white;
  border-radius: 20px;
  width: 149px;
  height: 230px;
  z-index: -1;
  border: 3px solid #171445;
}

#posicao1_ranking, #posicao2_ranking, #posicao3_ranking {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 20px;
  top: -15px;
  background: white;
  border: 3px solid #BD4CF7;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  left: -10px;
}

#posicao2_ranking {
  left: 175px;
}

#posicao3_ranking {
  left: 355px;
}

/* Área do jogo */

#quiz-status_pergunta {
  position: absolute;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.719);
  border-radius: 10px;
  margin: 10px;
  width: 80px;
  height: 50px;
  top: 2.5%;
  left: 125px;
}

#conta-tempo {
  position: absolute;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.719);
  border-radius: 50%;
  margin: 10px;
  width: 55px;
  height: 55px;
  left: 290px;
  top: 2.5%;
}

#quiz-pontos {
  position: absolute;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.253);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  /* top: 10%; */
  left: 10px;
  top: 4%;
}

#quiz-pergunta {
  position: absolute;
  top: 16%;
  padding: 10px;
  color: white;
  font-size: 18px;
  /* font-family: Arial, Helvetica, sans-serif; */
  background-color: rgba(0, 0, 0, 0.562);
  min-width: 350px;
  height: 75px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  /* top: 50%; */
  letter-spacing: 0.5px;
}

#quiz-opcoes-container {
  position: absolute;  
  top: 32%;
}

.quiz-opcoes {
  padding: 10px;
  color: white;
  font-size: 18px;
  /* font-family: Arial, Helvetica, sans-serif; */
  background-color: rgba(0, 0, 0, 0.253);
  border-radius: 5px;
  width: 350px;
  height: 55px;  
  margin: 20px;
  margin-left: 10px;
  cursor: pointer;
  letter-spacing: 0.5px;
}

#quiz-opcao_a:hover, #quiz-opcao_b:hover,
#quiz-opcao_c:hover, #quiz-opcao_d:hover {
  scale: 1.025;
  /* background-color: white; */
  transition: all 0.3s;    
  /* -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  filter: drop-shadow(8px 8px 8px rgba(0,0,0,.9));
  cursor: pointer; */
}

.jogo {
  display: none;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}
