body {
  background: linear-gradient(black, black, #080327, #171445, #BD4CF7, #BD4CF7);
}

h1.form-title {
    text-align: center;
    font-size: 2em;
    margin: 15px 0;
    color: white;
    cursor: default;
  }
  
h1.form-title:hover {
  color: #BD4CF7;
}
  .form {
    width: 500px;
    margin: 20px auto;
    border: 2px solid #BD4CF7;
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    transition: all 0.4s ease-in-out;
  }
  
  .form:hover {
    box-shadow: 0 0 10px #171445;
  }
  
  .form-label {
    display: block;
    margin-top: 25px;
    font-size: 1.3em;
  }
  
  .form-input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 3px;
    box-sizing: border-box;
    border: 2px solid #352052;
    border-radius: 7px;
    background-color: white;
    color: #080327;
    transition: all 0.3s ease-in-out;
    font-size: 1em;
  }
  
  .form-input:focus {
    border-color: #BD4CF7;
  }
  
  #submit {
    width: 100%;
    background-color: #BD4CF7;
    color: white;
    padding: 10px 20px;
    margin-top: 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1.4em;
  }
  
  #submit:hover {
    background-color: #352052;
  }
  
  /* Responsive layout - faz com que o formulário fique funcional para telas menores */
  @media (max-width: 600px) {
    .form {
      width: 100%;
    }
  }
  
  .helper-text {
    display: none;
    font-size: 1em;
    color: #ffcdcd;
  }

  .orientacao {
    margin-top: 1.5rem;
    font-size: .7rem;
  }
  
  input.error {
    border: 3px solid #ff0000;
  }
  
  input.correct {
    border-image: linear-gradient(to right, #BD4CF7, rgb(0, 17, 255)) 1;
  }

  .visible {
    display: block;
  }