h1.form-title {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
    color: #352052;
  }
  
  .form {
    width: 500px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(#BD4CF7, #080327);
    color: white;
    transition: all 0.3s ease-in-out;
  }
  
  .form:hover {
    box-shadow: 0 0 10px #171445;
  }
  
  .form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.2em;
  }
  
  .form-input {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #352052;
    border-radius: 4px;
    background-color: white;
    color: #080327;
    transition: all 0.3s ease-in-out;
  }
  
  .form-input:focus {
    border-color: #BD4CF7;
  }
  
  .form-button {
    width: 100%;
    background-color: #BD4CF7;
    color: white;
    padding: 14px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .form-button:hover {
    background-color: #080327;
  }
  
  /* Responsive layout - faz com que o formulário fique funcional para telas menores */
  @media (max-width: 600px) {
    .form {
      width: 100%;
    }
  }
  
  .error-message {
    margin: 5px 0 0;
    font-size: 14px;
    color: #ff0000;
  }
  
  .error {
    border: 3px solid #ff0000;
  }
  
  .success {
    border: 3px solid #00ff00;
  }
