
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.body-resenha h1 {
    font-family: "Bebas Neue", cursive, "Montserrat", sans-serif;
    font-size: 35px;
    line-height: 11px;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 16px 0;
    margin: 40px auto 60px;
}

.body-resenha {
    height: 100vh;
    width: 100%;
}

 /* main */ 
 .resenhas {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
}

a {
    text-decoration: none;
    font-style: none;
}

/*--------------- SEÇÃO CARDS FILMES E SÉRIES ---------------*/
  
.cards-resenhas {
    width: 70%;
}
  
.card-resenhas {
    position: relative;
    height: 278px;
    width: 198px;
    margin: 0 15px 80px;
    perspective: 62.5rem;
}

.card-resenhas h3 {
    position: relative;
    top: 280px;
    padding: 5px 0;
    font-family: "Bebas Neue", cursive, "Montserrat", sans-serif;
    letter-spacing: 1.5px;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}
  
.card-resenhas img {
    height: 278px;
    width: 198px;
}
    
.card-resenhas .back-card-resenhas {
    transform: rotateY(180deg);
    background: linear-gradient(to top left, #bd4cf7, #352052);
    box-shadow: 20px 20px 60px -30px #BD4CF7;
    height: 278px;
    width: 198px;
    padding: 5px 15px;
}
    
.card-resenhas .back-card-resenhas h1 {
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    font-family: "Bebas Neue", cursive, "Montserrat", sans-serif;
    line-height: 20px;
    letter-spacing: 1.5px;
    margin: 0 0 10px;
} 

.card-resenhas .back-card-resenhas h1:hover {
    color: #BD4CF7;
    cursor: pointer;
}

.card-resenhas .back-card-resenhas a, a-visited {
    text-decoration: none;
}

.card-resenhas .back-card-resenhas a:link, a:visited{
    color: white;
  }

.card-resenhas .back-card-resenhas a:hover {
    color: #BD4CF7; 
    cursor: pointer;
}

.back-card-resenhas p {
    color: white;
    text-align: justify;
    font-weight: 300;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
} 

.back-card-resenhas p:nth-child(3) {
    color: white;
    font-weight: 100;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0;
}

.back-card-resenhas img {
    width: 80px;
    height: 14px;
}
  
.flip-resenhas {
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
  
.card-resenhas:hover .flip-resenhas{
    transform: rotateY(180deg);
}
  
.front-card-resenhas, .back-card-resenhas {
    position: absolute;
    backface-visibility: hidden;
}
  
/*.front-card-resenhas img, .back-card-resenhas {
    border-radius: 12px;  
}*/

/*---------------------  TABS ----------------------*/

.tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.tabs-head {
    display: flex;
    align-items: stretch;
}

.tabs-head span {
    font-family: "Bebas Neue", cursive, "Montserrat", sans-serif;
    letter-spacing: 1.5px;
    font-size: 1.3rem;
}

.tabs-toggle {
    display: flex;
    width: 25%;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: #F1EBEB;
    font-family: "Bebas Neue", cursive, "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.tabs-toggle:hover {
    color: #BD4CF7;
    background-color: #E8C4FB;
}

.tabs-toggle.is-active {
    background: linear-gradient(to top left, #bd4cf7, #352052);
    color: white;
    font-weight: bolder;
    opacity: 1;
}

.tabs-body {
    position: relative;
}

.tabs-content{
    width: 100%;
    display: none;
    padding-top: 30px;
}

.tabs-content.is-active {
    display: block;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 20px;
    padding-top: 30px;
}

/*--------------- SEÇÃO FORMULÁRIO, SELECT E REDES SOCIAIS ---------------*/

.lateral-resenhas {
    width: 30%;
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.autores-resenhas h2, .redes-sociais-resenhas h2, .form-resenhas h2 {
    padding: 10px 0;
    font-family: "Bebas Neue", cursive, "Montserrat", sans-serif;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 25px;
    margin-bottom: 15px;
}

/*----------------  FORMULÁRIO -----------------*/

.form-resenhas {
    width: 100%;
    margin-bottom: 80px;
    position: relative;
}

.label-form-resenha {
    display: block;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.form-resenhas .label-form-resenha:first-child {
    margin-top: 15px;
}

.input-form-resenha {
    position: relative;
    background: #E8C4FB;
    border: none;
    width: 100%;
    height: 35px;
    margin: 0 auto 20px;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.input-form-resenha::-webkit-input-placeholder {
    color: gray;
    opacity: 0.7; 
}

.input-form-resenha:-webkit-autofill {  
    -webkit-box-shadow: 0 0 0 30px #E8C4FB inset;
}
 
.input-form-resenha:-webkit-autofill {
    -webkit-text-fill-color: #434343 !important;
}

.botao-form-resenha {
    display: block;
    background: linear-gradient(to top left, #bd4cf7, #352052);
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 25px;
    font-weight: bolder;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
    padding: 3px 5px;
    margin: 0 auto;
}

.botao-form-resenha:hover {
    transform: scale(1.2);
}

/*----------------  REDES SOCIAIS -----------------*/

.redes-sociais-resenhas {
    width: 100%;
    margin-bottom: 80px;
}

.redes-sociais-resenhas a:hover {
  color: #BD4CF7;
  cursor: pointer;
}

.redes-sociais-resenhas img {
    min-width: 80%;
    height: 138px;
    padding: 5px;
    margin: 0 10%;
}


/*----------------  SELECT -----------------*/

.autores-resenhas {
    padding: 10px 10px;
    border-left: solid 2px black;
}

.autores-resenhas select {
    background: linear-gradient(to top left, #bd4cf7, #352052);
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 18px;
    width: 100%;
    border-radius: 8px;
    max-width: 15px 0 0;
    padding: 10px 10px;
}

  .passa-página {
    position: relative;
    margin: 30px 0;
    text-align: center;
  }

/* -------------------- RESENHA COMPLETA -------------------- */

.body-resenha-completa{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    color: #434343;
}

/* -------------------- BANNER TOPO RESENHA COMPLETA -------------------- */

.topo-resenha-completa {
    width: 80%;
    display: flex;
    background: lightgray;
    height: 450px;
    margin: 10px auto 60px;
    box-shadow: 20px 20px 60px -30px black;
    position: relative;
}

.topo-resenha-completa img {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to right, transparent 5%, lightgray 40%);
    mask-image: linear-gradient(to right, transparent 5%, lightgray 40%);
    position: absolute;
}

.ficha_tecnica_resenha_completa {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 15px;
    width: 250px;
    max-height: 442px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: justify;
    font-style: normal;
    font-weight:100;
    line-height: 20px;
    position: relative;
}

.ficha_tecnica_resenha_completa h1 {
    font-family: 'Bebas Neue', cursive;
    text-shadow: darkgray 0.1em 0.1em 0.2em;
    text-transform: uppercase;
    color: black;
    font-size: 2.2rem;
    line-height: 25px;
    letter-spacing: 1.5px;
    text-align: center;
    white-space: nowrap;
    padding: 16px 0;
    margin: 35px 0 10px;    
    font-weight: bolder;
}

.ficha_tecnica_resenha_completa p{
    font-family: 'Open Sans', sans-serif;
    color: black;
    padding: 3px 0;
    text-shadow: darkgray 0.1em 0.1em 0.2em;
    line-height: 25px;
}

.ficha_tecnica_resenha_completa span{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 25px;
    text-shadow: darkgray 0.1em 0.1em 0.2em;
    font-weight: 800;
}


/* -------------------- BANNER TOPO RESENHAS -------------------- */

.resenha-completa {
    width: 80%;
    margin: 0 auto;
}

/* -------------------- SEÇÃO RESENHA COMPLETA -------------------- */

.principal_resenha_completa {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 72px;
}

/* -------------------- ONDE ASSISTIR, AVALIAÇÃO E REDES SOCIAIS -------------------- */

.informacoes_resenha_completa {
    width: 403px;
}

.informacoes_resenha_completa h3 {
    text-align: center;
    font-family: "Bebas Neue", cursive, "Montserrat", sans-serif;
    letter-spacing: 1.5px;
    color: #434343;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 25px;
    margin-bottom: 20px;
}

.trailer {
    width: 100%;
    height: 200px;
    box-shadow: 20px 20px 40px -30px black;
    margin: 0 auto 60px;
}

.avaliacao-resenha-completa {
    width: 300px;
    margin: 0 start 60px 0;
}   

.avaliacao-resenha-completa div:first-child {
    margin-bottom: 10px;
}

.campo_avaliacao_resenha_completa {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.campo_avaliacao_resenha_completa h4 {
    font-family: "Bebas Neue", cursive, "Montserrat", sans-serif;
    letter-spacing: 1.5px;
    white-space: nowrap;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 25px;
}

.onde_assistir_resenha_completa {
    width: 80%;
    margin: 0 auto 60px;
}

.img_ondeassistir_resenha_completa {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 12%;
    height: 40px;
    margin: 0 auto 15px;
}

.img_ondeassistir_resenha_completa img {
    width: 50px;
    height: 40px;
}

.img_ondeassistir_resenha_completa a {
    border: 2px solid black;
    border-radius: 5px;
    width: 55px;
    padding-top: 5px;
}

.img_ondeassistir_resenha_completa a:hover {
    border: 2px solid #BD4CF7;
}

.onde_assistir_resenha_completa strong {
    font-family: 'Open Sans', sans-serif;
}

.onde_assistir_resenha_completa p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}

.redes_sociais_resenha_completa {
    width: 100%;
}

.redes_sociais_resenha_completa h3:hover {
    color: #BD4CF7;
    cursor: pointer;
    transition: all .4s;
}

.redes_sociais_resenha_completa img {
    width: 80%;
    height: 150px;
    margin-left: 38px;
    
}

/* -------------------- SINOPSE E TEXTO RESENHA -------------------- */

.secao_textos_resenha_completa {
    width: 65%;
}

.secao_textos_resenha_completa h2 {
    text-align: center;
    font-family: "Bebas Neue", cursive, "Montserrat", sans-serif;
    letter-spacing: 1.5px;
    color: #434343;
    text-transform: uppercase;
    white-space: nowrap;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 11px;
    padding: 10px 0 5px;
    margin-bottom: 20px;
}

.secao_textos_resenha_completa p {
    text-align: justify;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 25px;
}

.avalia-resenha {
    margin-bottom: 25px;
}

.roteirista_resenha_completa {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.textos-roteirista-resenha-completa {
    padding-top: 22px;
}

.roteirista_resenha_completa img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.roteirista_resenha_completa strong {
    font-family: "Bebas Neue", cursive, "Montserrat", sans-serif;
    letter-spacing: 1.5px;
    font-style: normal;
    font-weight: bolder;
    font-size: 1.2rem;
    line-height: 25px;
    padding-top: 15px;
}

.roteirista_resenha_completa p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 25px;
}

/* -------------------- FORMULÁRIO -------------------- */

.formulario_resenha_completa {
    position: relative;
    width: 50%;
    margin: 40px auto;
}

.formulario_resenha_completa h3 {
    text-align: center;
    font-family: "Bebas Neue", cursive, "Montserrat", sans-serif;
    letter-spacing: 1.5px;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
}

.formulario_resenha_completa h4 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 10px;
}

.label-form-resenha-completa {
    display: block;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 25px;
}

.input-form-resenha-completa {
    position: relative;
    background: #E8C4FB;
    border: none;
    width: 100%;
    height: 35px;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.textarea_form_resenha_completa {
    position: relative;
    background: #E8C4FB;
    border: none;
    width: 100%;
    height: 200px;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin: 0 auto;
}

.input-form-resenha-completa::-webkit-input-placeholder {
    color: gray;
    opacity: 0.7; 
}

.input-form-resenha-completa:-webkit-autofill {  
    -webkit-box-shadow: 0 0 0 30px #E8C4FB inset;
}
 
.input-form-resenha-completa:-webkit-autofill {
    -webkit-text-fill-color: #434343 !important;
}

.label-form-resenha-completa:not(:first-of-type){
    margin-top: 1rem;
  }
  
.helper-text {
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    color: darkred;
}

.helper-text .orientacao {
    margin-top: 1.5rem;
    font-size: 1rem;
}  

.botao_form_resenha_completa {
    position: relative;
    display: block;
    background: linear-gradient(to top left, #bd4cf7, #352052);
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 25px;
    font-weight: bold;
    width: 45%;
    height: 50px;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
    padding: 10px;
    margin: 20px auto 0;
}

.botao_form_resenha_completa:hover {
    transform: scale(1.2);
}

.required-popup::after {
    content: "*Campo obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: #434343;
    font-size: 0.8rem;
    font-weight: bold;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    margin-bottom: 10px;
  }
  
  .input-form-resenha-completa.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
  }
  
  .input-form-resenha-completa.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
  }

  .textarea_form_resenha_completa.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
  }
  
  .textarea_form_resenha_completa.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
  }
  
  .visible {
    display: block;
  }

/* -------------------- RATING STARS -------------------- */

.campo_avaliacao_resenha_completa button {
    font-size: 1.1rem;
    color: #ff9800;
    background-color: unset;
    border: none;
}

.campo_avaliacao_resenha_completa button:first-child {
    padding-left: 10px;
}

.star-resenha:hover {
    cursor: pointer;
}

.star-avalia-resenha:hover {
    cursor: pointer;
}

.star-rating-resenha {
    user-select: none;
}

/* --------------- RESENHA POR AUTOR --------------- */

.resenha-por-autor {
    margin: 0;
    height: 60vh;
    font-family: "Bebas Neue", cursive, "Montserrat", sans-serif;
    background-color: white;
  }
  
  .resenha-por-autor h1 {
    color: #434343;
    text-align: center;
    position: relative;
    top: 25vh;
    font-size: 4rem;
  }

