
/* INÍCIO PÁGINA ÚLTIMAS RESENHAS */

.main_resenhas {
    width: 80.625%;
    margin-left: auto;
    margin-right: auto;
}

.main_resenhas a, a:visited {
    text-decoration: none;
}

.main_resenhas a:link, a:visited{
    color: black;
  }

.main_resenhas a:hover {
    color: #BD4CF7;
    cursor: pointer;
}

.titulo_index_resenhas {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 37.5px;
    line-height: 11px;
    margin-top: 66px;
}

.section_index_resenhas {
    display: flex;
    justify-content: center;
    margin-top: 104px;
}

.banner_index_resenhas {
    display: flex;
    align-items: center;
    width: 654.5px;
    height: 160px;
    margin-bottom: 76.5px;
}

.img_banner_principal_resenhas {
    width: 315.75px;
    height: 158.25px;
}

.titulo_banner_index_resenhas {
    font-family: "Codec Pro", sans-serif;
    font-size: 22.5px;
}

.resumo_banner_index_resenhas {
    margin-left: 23.75px;
    text-align: left;
}

.resumo_banner_index_resenhas p {
    font-family: "Open Sauce Sans", sans-serif;
    font-size: 18.75px;
    font-style: normal;
    font-weight: 100;
    line-height: 19px;
    text-align: justify;
    margin-top: 18px;
}

.img_banner_estrelas_resenhas {
    width: 135px;
    height: 24.75px;
    margin-top: 3px;
}

.nome_autor_banner_resenhas {
    font-size: 15px;
    margin-top: 18px;
}

.secao_selecao_autores_resenhas {
    margin-left: 79.5px;
    width: 402.75px;
    height: 162.75px;
    padding:5px 0 10px 10px;
    border-left: solid 2px;
}

.titulo_selecao_autores_resenhas {
    text-align: left;
    font-family: "Codec Pro", sans-serif;
    font-size: 30px;
    margin-left: 15px;
}

.espaco_selecao_autor_resenhas {
    background: #BD4CF7;
    font-family: "Codec Pro", sans-serif;
    color: white;
    font-size: 22.5px;
    width: 357.59px;
    height: 63.75px;
    margin-top: 10px;
    margin-left: 15px;
}

.secao_redes_sociais_resenhas {
    width: 294px;
    height: 187.5px;
    margin-top: 65px;
    margin-left: 133.5px;
}

.titulo_redes_sociais_resenhas {
    font-family: "Codec Pro", sans-serif;
    font-size: 30px;
    margin-bottom: 25px;
}

.img_redes_sociais_resenhas {
    width: 294px;
    height: 138.75px;
}

.section_inferior_index_resenhas {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 49.5px;
    margin-bottom: 135px;
}

.titulo_secao_inferior_resenhas {
    font-family: "Codec Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 11px;
    margin-bottom: 20px;
}

.secao_inferior_fotomaior_resenhas {
    width: 100%;
    height: 150.26px;
}

.secao_inferior_fotos_resenhas {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}

.img_leiatambem_index_resenhas {
    max-width: 224.74px;
    height: 105.95px;
}

/* INÍCIO PÁGINA RESENHA COMPLETA*/

.main_resenha_completa {
    width: 80.625%;
    margin-left: auto;
    margin-right: auto; 
}

.section_titulo_resenha_completa {
    text-align: center;
    margin-bottom: 83px;
}

.titulo_principal_resenha_completa {
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 37.5px;
    line-height: 11px;
    margin: 66px auto 25px auto;
}

.publicado_por_resenha {
    font-family: "Codec Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 11px;
    margin-bottom: 18px;
}

.data_hora_resenha_completa {
    font-family: "Open Sauce Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 11px;
}

.section_principal_resenha_completa {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.secao_informacoes_resenha_completa {
    width: 375px;
}

.banner_resenha_completa {
    width: 375px;
    height: 472px;
    border: 5px solid #BD4CF7;
}

.titulos_lateral_resenha_completa {
    text-align: center;
    font-family: "Codec Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 20px;
}

.ficha_tecnica_resenha_completa {
    margin-top: 27px;
}

.ficha_tecnica_resenha_completa strong {
    font-family: "Codec Pro", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

.ficha_tecnica_resenha_completa h4 {
    font-family: "Open Sauce Sans", sans-serif;
    text-align: justify;
    font-style: normal;
    font-weight: 100;
    font-size: 17px;
    line-height: 25px;
}

.avaliacoes_resenha_completa {
    margin-top: 45px;
}

.avaliacoes_resenha_completa h4 {
    font-family: "Codec Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

.campo_avaliacao_resenha_completa {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.campo_avaliacao_resenha_completa img {
    margin-left: 10px;
}

.img_estrelas_avaliar {
    width: 135px;
    height: 24.75px;
    margin-top: 3px;
}

.onde_assistir_resenha_completa {
    width: 375px;
    margin-top: 45px;
}

.img_ondeassistir_resenha_completa {
    display: flex;
    width: 50px;
    height: 40px;
    margin: 0 137.5px 20px;
}

.onde_assistir_resenha_completa strong {
    margin-top: 30px;
}

.onde_assistir_resenha_completa p {
    font-family: "Open Sauce Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}

.redes_sociais_resenha_completa {
    margin-top: 100px;
}

.redes_sociais_resenha_completa img {
    width: 374px;
    height: 150px;
    margin-top: 20px;
}

.redes_sociais_resenha_completa h2 {
    text-align: center;
    font-family: "Codec Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 11px;
}

.secao_textos_resenha_completa {
    width: 661px;
    margin-left: 75px;
}

.secao_textos_resenha_completa h2 {
    text-align: center;
    font-family: "Codec Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 11px;
    margin-bottom: 20px;
}

.secao_textos_resenha_completa p {
    text-align: justify;
    margin-bottom: 20px;
    font-family: "Open Sauce Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.avalie_resenha_completa {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avalie_resenha_completa h4 {
    font-family: "Codec Pro", sans-serif;
    font-style: normal;
    font-size: 25px;
    line-height: 25px;
    margin-right: 10px;
}

.roteirista_resenha_completa {
    display: flex;
}

.roteirista_resenha_completa img {
    border-radius: 50%;
    border: 5px solid #BD4CF7;
    margin-right: 18px;
}

.roteirista_resenha_completa h4 {
    font-family: "Open Sauce Sans", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 25px;
}

.roteirista_resenha_completa p {
    font-family: "Open Sauce Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

.secao_formulario_resenha_completa {
    max-width: 662px;
    margin: 0 auto;
}

.secao_formulario_resenha_completa h3 {
    text-align: center;
    font-family: "Codec Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 25px;
}

.secao_formulario_resenha_completa p {
    text-align: center;
    font-family: "Open Sauce Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 10px;
}

.label_form_resenha_completa {
    display: block;
    font-family: "Open Sauce Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 3px;
}

.input_form_resenha_completa {
    background: #E8C4FB;
    border: none;
    width: 662px;
    height: 30px;
    margin-bottom: 22px;
}

.textarea_form_resenha_completa {
    background: #E8C4FB;
    border: none;
    width: 662px;
    margin-bottom: 25px;
}

.input_form_resenha_completa::-webkit-input-placeholder {
    font-family: "Open Sauce Sans", sans-serif;
    color: gray; /*Change the placeholder color*/
    opacity: 0.7; /*Change the opacity between 0 and 1*/
}

.botao_form_resenha_completa {
    display: block;
    background: #BD4CF7;
    font-family: "Codec Pro", sans-serif;
    color: white;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    width: 415px;
    height: 50px;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
    margin: 0 auto;
}

.botao_form_resenha_completa:hover {
    transform: scale(1.2);
}

.secao_outras_resenhas {
    width: 450px;
    margin: 70px auto 135px;
}

.secao_outras_resenhas h2 {
    text-align: center;
    font-family: "Codec Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 25px;
    margin-bottom: 25px;
}

.outras_resenhas {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.img_outras_resenha_completa {
    width: 225px;
    height: 130px;
    margin-right: 18px;
}

.outras_resenhas h4 {
    font-family: "Codec Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 18px;
}

.outras_resenhas p {
    font-family: "Open Sauce Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
}

