main {
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

h1 {
  font-size: 2.2em;
}

.mosaic {
  display: flex;
}

.person {
  width: 20%;
  cursor: pointer;
}

.person img {
  width: 100%;
}

.descricao-pessoa {
  display: none;
}

.equipe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.pessoa {
  width: 18%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
}

.foto-pessoa {
  width: 80%;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.nome-pessoa {
  font-size: 1.5em;
  margin-bottom: 5px;
  border-bottom: 3px solid whitesmoke;
  border-image: linear-gradient(to right, #352052, #BD4CF7) 1;
}

#descricao-pessoa {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.ativo 

p {
  font-size: 1.2em;
  font-style: italic;
}