@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

header{
    background-color: black;
    color:white;
    font-family: 'Open Sans', sans-serif;

}

footer{
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#menu-principal {
    list-style: none;
    padding: 0;
    background-color: blueviolet;
}
#menu-principal li{
    display: inline;
}

#menu-principal li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    display: inline;
}