header{
    background-color: black;
    color:white;
    box-sizing: border-box;
}

.header_title {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.header_title_cinemundo {
    font-size: 90px;
    font-weight: 300;
    text-align: center;
}

.header_title a {
    list-style: none;
    text-decoration: none;
    padding: 0;
    color: white;
}

.header_title_image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    padding-bottom: 1.2%;
}

.header_main_menu {
    list-style: none;
    font-size: 25px;
    font-weight: 300;
    margin: 0 30px;
    display: flex;
    justify-content:space-between;
}

.header_main_menu_index {
    border-top: 2px solid whitesmoke;
    display: flex;
    align-items: center;
    padding: 5px 40px 5px 40px;
    margin: 0 10px;
}

.header_main_menu li{
    display: inline-block;
}

.header_main_menu li a{
    color: white;
    text-decoration: none;
    border-radius: 1px;
}

.header_main_menu li a:hover{
    /*background-color: #BD4CF7; */
    background-image: linear-gradient(#BD4CF7, black, black);
}

.header_main_menu2 {
    display: flex;
    align-items: center;
}

.header_main_menu2 li svg {
    cursor: pointer;
}

.header_perfil_name {
    font-weight: 100;
}

.header_perfil_name a {
    padding: 10px 18px;
    margin: 0 18px;
}